<div class="flex items-center justify-center bg-gray-100" style="height: calc(100vh - 60px);">
  <div class="w-full max-w-md bg-white rounded-lg shadow-md p-8">
    <h2 class="text-3xl font-semibold text-gray-800 mb-6">Register for <span class="text-indigo-600">Todolist</span></h2>
    <form (submit)="onSubmit()">
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
          Name
        </label>
        <input
          type="text"
          id="name"
          [(ngModel)]="name"
          name="name"
          required
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          placeholder="Enter your name"
        />
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
          Email
        </label>
        <input
          type="email"
          id="email"
          [(ngModel)]="email"
          name="email"
          required
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          placeholder="Enter your email"
        />
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
          Password
        </label>
        <input
          type="password"
          id="password"
          [(ngModel)]="password"
          name="password"
          required
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
          placeholder="Enter your password"
        />
      </div>
      <div class="flex items-center justify-between">
        <button
          type="submit"
          class="bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        >
          Register
        </button>
        <a
          href="/login"
          class="inline-block align-baseline font-bold text-sm text-indigo-600 hover:text-indigo-800"
        >
          Login
        </a>
      </div>
    </form>
  </div>
</div>
